body, html{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url(./img/most.jpg);
    background-size: cover;
}


/*Прямоугольник*/
.rect {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 70vw;
    background-color: #faf8f2;
    border-radius: 0px 0px 80px 0px;
  }

/*Подключаем шрифты*/
@font-face {
    font-family: 'allneed';
    src: url(./fonts/allneed2.ttf);
}
@font-face {
    font-family: 'text';
    src: url(./fonts/text.ttf);
}

p {
    font-family: 'allneed';
    margin-top: 0px;
}

a{
    font-family: 'text';
    text-decoration: none;
}

a:-webkit-any-link {
    color: #1B1C20;
    cursor: pointer;
}

/*Заголовок*/
.l-Title{
    font-size: 40px;
    margin-top: 50px;
    padding-top: 0px;
    text-align: center;
    color: #1B1C20;
}

/*Текст*/
.l-Text{
    font-size: 15px;
    margin-left: 20px;
    padding-left: 20px;
    margin-right: 20px;
    padding-right: 20px;
    margin-top: 20px;
    padding-top: 20px;
    color: #1B1C20;
}

/*Лого*/
.llock{
    font-size: 30px;
    margin-top: 0px;
    padding-top: 0px;
    margin-left: 20px;
    padding-left: 20px;
    color: #ff6969;
    font-family: "allneed";
}

/*Вход*/
.menu{
    font-size: 15px;
    font-family: "allneed";
    list-style: none;
    margin-top: -60px;
    margin-right: 20px;
    padding-right: 20px;
    text-align: right;
    color: #1B1C20;
}

/*Таблица*/
.tbl{
    margin-top: 70px;
    width: 70vw;
    border-spacing: 60px 0px;
    text-align: center;
}

td{
    width: 30vw;
}

/*Кнопка*/
.button1{
    background-color: #ff6969;
    border: none;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 40px;
    margin-top: 70px;
    border-radius: 15px;
}


@media screen and (max-width: 760px){
    /*Прямоугольник*/
    .rect {
        width: 95vw;
    }
    /*Лого*/
    .llock{
        font-size: 20px;
        margin-top: 0px;
        padding-top: 10px;
        margin-left: 5px;
        padding-left: 10px;
    }

    /*Вход*/
    .menu{
        margin-top: -45px;
        margin-right: 10px;
        padding-right: 10px;
    }

    /*Заголовок*/
    .l-Title{
        font-size: 30px;
    }
    /*Текст*/
    .l-Text{
        font-size: 13px;
        text-align: center;
        margin-top: 0px;
        padding-top: 0px;
    }
    /*Таблица*/
    .tbl{
        margin-top: 50px;
        width: 95vw;
        border-spacing: 20px 0px;
    }
    /*Кнопка*/
    .button1{
        margin-left: 25%;
        margin-right: 25%;
        margin-top: 40px;
    }
}

@media screen and (max-width: 350px){
    /*Прямоугольник*/
    .rect {
        width: 95vw;
    }
    /*Лого*/
    .llock{
        font-size: 20px;
        margin-top: 0px;
        padding-top: 10px;
        margin-left: 5px;
        padding-left: 10px;
    }

    /*Вход*/
    .menu{
        margin-top: -45px;
        margin-right: 10px;
        padding-right: 10px;
    }

    /*Заголовок*/
    .l-Title{
        font-size: 30px;
        margin-top: 30px;
    }
    /*Текст*/
    .l-Text{
        font-size: 13px;
        text-align: center;
        margin-top: 0px;
        padding-top: 0px;
    }
    /*Таблица*/
    .tbl{
        margin-top: 20px;
        width: 90vw;
        border-spacing: 20px 0px;
    }
    /*Кнопка*/
    .button1{
        margin-left: 25%;
        margin-right: 25%;
        margin-top: 10px;
    }
}